
    <div class="contenido">
        <div class="bordes">
            <h4> ¿La plataforma es sencilla y manejable? </h4>
            <div>
                <div id="listaAlternativa">

                    <div>
                        <input class="radioRespuesta" type="radio" name="pregunta1" id="radio" idalternativa=""
                            value="1">
                        <label> a) Difícil y compleja </label>
                    </div>

                    <div>
                        <input class="radioRespuesta" type="radio" name="pregunta1" id="radio" idalternativa=""
                            value="2">
                        <label> b) Sencilla y facil </label>
                    </div>

                </div>
            </div>

            <div class="error_message" id="pregunta1_message">
                <p>Marca una alternativa</p>
            </div>

        </div>
    </div>



    <div class="contenido">
        <div class="bordes">
            <h4> ¿Considera que el contenido del curso es claro y entendible? </h4>
            <div>
                <div id="listaAlternativa">

                    <div>
                        <input class="radioRespuesta" type="radio" name="pregunta2" id="radio" idalternativa=""
                            value="1">
                        <label> a) Totalmente de acuerdo </label>
                    </div>

                    <div>
                        <input class="radioRespuesta" type="radio" name="pregunta2" id="radio" idalternativa=""
                            value="2">
                        <label> b) Deacuerdo </label>
                    </div>

                    <div>
                        <input class="radioRespuesta" type="radio" name="pregunta2" id="radio" idalternativa=""
                            value="3">
                        <label> c) Desacuerdo </label>
                    </div>

                    <div>
                        <input class="radioRespuesta" type="radio" name="pregunta2" id="radio" idalternativa=""
                            value="4">
                        <label> d) Totalmente en desacuerdo </label>
                    </div>

                </div>
            </div>

            <div class="error_message" id="pregunta2_message">
                <p>Marca una alternativa</p>
            </div>

        </div>
    </div>


    <div class="contenido">
        <div class="bordes">
            <h4> ¿Considera que el facilitador del curso es claro y entendible? </h4>
            <div>
                <div id="listaAlternativa">

                    <div>
                        <input class="radioRespuesta" type="radio" name="pregunta3" id="radio" idalternativa=""
                            value="1">
                        <label> a) Totalmente de acuerdo </label>
                    </div>

                    <div>
                        <input class="radioRespuesta" type="radio" name="pregunta3" id="radio" idalternativa=""
                            value="2">
                        <label> b) Deacuerdo </label>
                    </div>

                    <div>
                        <input class="radioRespuesta" type="radio" name="pregunta3" id="radio" idalternativa=""
                            value="3">
                        <label> c) Desacuerdo </label>
                    </div>

                    <div>
                        <input class="radioRespuesta" type="radio" name="pregunta3" id="radio" idalternativa=""
                            value="4">
                        <label> d) Totalmente en desacuerdo </label>
                    </div>

                </div>
            </div>

            <div class="error_message" id="pregunta3_message">
                <p>Marca una alternativa</p>
            </div>

        </div>
    </div>


    <div class="contenido">
        <div class="bordes">
            <h4> ¿Considera que el facilitador domina el tema tratado? </h4>
            <div>
                <div id="listaAlternativa">

                    <div>
                        <input class="radioRespuesta" type="radio" name="pregunta4" id="radio" idalternativa=""
                            value="1">
                        <label> a) De acuerdo </label>
                    </div>

                    <div>
                        <input class="radioRespuesta" type="radio" name="pregunta4" id="radio" idalternativa=""
                            value="2">
                        <label> b) Desacuerdo </label>
                    </div>

                </div>
            </div>

            <div class="error_message" id="pregunta4_message">
                <p>Marca una alternativa</p>
            </div>

        </div>
    </div>


    <div class="contenido">
        <div class="bordes">
            <h4> ¿Considera que el facilitador domina el tema tratado? </h4>
            <div>
                <div id="listaAlternativa">

                    <div>
                        <input class="radioRespuesta" type="radio" name="pregunta5" id="radio" idalternativa=""
                            value="1">
                        <label> a) De acuerdo </label>
                    </div>

                    <div>
                        <input class="radioRespuesta" type="radio" name="pregunta5" id="radio" idalternativa=""
                            value="2">
                        <label> b) Desacuerdo </label>
                    </div>

                </div>
            </div>

            <div class="error_message" id="pregunta5_message">
                <p>Marca una alternativa</p>
            </div>

        </div>
    </div>

    <div class="contenido">
        <div class="bordes">
            <h4> ¿Cuan satisfecho se siente con el curso?</h4>
            <div>
                <div id="listaAlternativa">

                    <div>
                        <input class="radioRespuesta" type="radio" name="pregunta6" id="radio" idalternativa=""
                            value="1">
                        <label> a) Insatisfecho </label>
                    </div>

                    <div>
                        <input class="radioRespuesta" type="radio" name="pregunta6" id="radio" idalternativa=""
                            value="2">
                        <label> b) Normal </label>
                    </div>

                    <div>
                        <input class="radioRespuesta" type="radio" name="pregunta6" id="radio" idalternativa=""
                            value="2">
                        <label> b) Muy satisfecho </label>
                    </div>

                </div>
            </div>

            <div class="error_message" id="pregunta6_message">
                <p>Marca una alternativa</p>
            </div>

        </div>
    </div>


    <div class="contenido">
        <div class="bordes">
            <h4> ¿Que aspectos son de mayor agrado y provecho para ti? </h4>
            <div> <textarea class="comentario" name="pregunta7" placeholder="Comentarios"></textarea> </div>

            <div class="error_message" id="pregunta7_message">
                <p>Marca una alternativa</p>
            </div>

        </div>
    </div>

    <div class="contenido">
        <div class="bordes">
            <h4> ¿Que aspectos de mejoras consideras que se deben tomar? </h4>
            <div> <textarea class="comentario" name="pregunta8" placeholder="Comentarios"></textarea> </div>

            <div class="error_message" id="pregunta8_message">
                <p>Marca una alternativa</p>
            </div>

        </div>
    </div>

    
    <div>
        <button type="submit" id="btnFormSatisfaccion"> Enviar formulario </button>
    </div>
